# package directories
node_modules
jspm_packages
dist

# Serverless directories
.serverless

# Test directories
deperciated/

env.json
src/mina/gastanks.ts
test/
proof.json
output.txt
.DS_Store
.eslintrc.json
.yarn/
.yarnrc.yml
.build/
