{ "TASKS_TABLE" : "tasks",
  "DEPLOYERS_TABLE":"test",
  "FILES_TABLE":"test",
  "TRANSACTIONS_TABLE":"test",
  "KV_TABLE":"test",
  "JOBS_TABLE":"test",
  "JOB_EVENTS_TABLE":"test",
  "STEPS_TABLE":"test",
  "PROOFS_TABLE":"test",
  "WORKERS_TABLE":"test",
  "BALANCE_TABLE":"test",
  "RATE_LIMIT_TABLE":"test",
  "BUCKET":"test",
  "COREPACK_HOME":"test",
  "VERIFICATION_BUCKET":"test",
  "AWS_KMS_ENCRYPTION_KEY_ID":"test",
  "JWT_PRIVATEKEY":"test",
  "JWT_ACCESS_KEY":"test",
  "ZKCLOUDWORKER_AUTH":"test",
  "PINATA_JWT":"test",
  "ALGOLIA_KEY":"test",
  "ALGOLIA_PROJECT":"test",
  "BLOCKBERRY_API_KEY":"test",
  "ZKCW_WALLET_ADDRESS": "test",
  "BUCKET_NAME" : "test",
  "VERIFICATION_BUCKET_NAME" : "test"
}
